body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}
canvas {
    border: 1px solid black;
}